*.ipynb filter=nbstripout
*.zpln filter=nbstripout
*.ipynb diff=ipynb
docs/** filter= diff=
src/openpifpaf/_version.py export-subst
src/openpifpaf/functional.c linguist-vendored
cpp/examples/cifcafdecoder/sample_data* linguist-vendored
