*.ipynb filter=nbstripout
*.ipynb	diff=jupyternotebook
*.ipynb	merge=jupyternotebook
docs/** filter= diff=
openpifpaf/_version.py export-subst
cpp/examples/cifcafdecoder/sample_data* linguist-vendored
