# system
.DS_Store
.vscode
*.so

# Python
build/
venv*/
*.egg-info
.eggs/
__pycache__
dist/
.pytest_cache/
.ipynb_checkpoints/
openpifpaf/functional.cpython-*
openpifpaf/functional.html

# guide
guide/_build/
guide/coco/*.predictions.png
guide/coco/*.predictions.json
guide/logo.png
guide/favicon.png
guide/profile_decoder.1.json
guide/profile_decoder.prof
guide/profile_decoder_flame.svg

# data
data-*/
data_*/
docs-private/
data-mscoco
*debug.png
*.pl
*.pl-*
*.pl.*
*.pkl
*.pkl-*
*.pkl.*
*.log
*.zip
outputs/
shared/
decoder.prof
decoder_flame.svg
*.onnx
debug.*.png
test-clis-*/
