# system
.DS_Store
.vscode
*.so
.idea

# Python
*.pyc
build/
venv*/
*.egg-info
.eggs/
__pycache__
dist/
.pytest_cache/
.ipynb_checkpoints/
src/openpifpaf/functional.cpython-*
src/openpifpaf/functional.html
src/openpifpaf/functional.c

# guide
guide/_build/
guide/**/*.predictions*.jpeg
guide/**/*.predictions*.json
guide/coco_debug_example
guide/logo.png
guide/logo_square.png
guide/favicon.png
guide/profile_decoder.1.json
guide/profile_decoder.prof
guide/profile_decoder_flame.svg
guide_py

# data
data-*
data_*
docs-private/
data/
*debug.png
*.pl
*.pl-*
*.pl.*
*.pkl
*.pkl-*
*.pkl.*
*.pt
*.log
*.zip
outputs/
all-images/
shared/
decoder.prof
decoder_flame.svg
*.onnx
debug.*.png
test-clis-*/
*.mlmodel
guide/cifar10_*.predictions.json
slurm*
profile_decoder*
eval.sh
prep.sh
train.sh
