[BASIC]

variable-rgx=[a-z0-9_]{1,30}$
good-names=ap,ar,ax,d,f,g,gt,i,im,lr,r,s,t,t1,t2,th,v,vs,x,x1,x2,xs,y,ys,xy


[TYPECHECK]

# List of members which are set dynamically and missed by pylint inference
# system, and so shouldn't trigger E1101 when accessed. Python regular
# expressions are accepted.
generated-members=numpy.*,torch.*,cv2.*,openpifpaf.functional.*

ignored-modules=openpifpaf.functional,pycocotools


# for pylint bugs related to numpy: unsubscriptable-object,comparison-with-callable
# for pytorch: not-callable
disable=missing-docstring,useless-object-inheritance,duplicate-code,too-many-arguments,too-many-instance-attributes,too-many-locals,too-few-public-methods,unsubscriptable-object,comparison-with-callable,not-callable
