dist: xenial
language: python
cache: pip
matrix:
  fast_finish: true
  include:
    - name: "Python 3.7 on Linux (PyTorch 1.4)"
      python: 3.7
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
    - name: "Python 3.7 on Linux with training"
      if: branch = master
      python: 3.7
      env:
        - PIFPAFTRAINING=1
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
        - pip3 install Cython numpy
        - "pip3 install --editable .[train]"
    - name: "Python 3.8 on Linux with training"
      python: 3.8
      env:
        - PIFPAFTRAINING=1
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.5.1+cpu torchvision==0.6.1+cpu -f https://download.pytorch.org/whl/torch_stable.html
        - pip3 install Cython numpy
        - "pip3 install --editable .[train] --use-feature=2020-resolver"
    - name: "Python 3.6 on Linux (PyTorch 1.4)"
      if: branch = master
      python: 3.6
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
    - name: "Python 3.7 on Linux (PyTorch 1.3)"
      if: branch = master
      python: 3.7
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.3.1+cpu torchvision==0.4.2+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
    - name: "Python 3.7 on Linux (PyTorch 1.5.1)"
      if: branch = master
      python: 3.7
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.5.1+cpu torchvision==0.6.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
    - name: "Python 3.7 on Linux (PyTorch 1.6)"
      if: branch = master
      python: 3.7
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.6.0+cpu torchvision==0.7.0+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
    - name: "Python 3.8 on Linux (PyTorch 1.5.1)"
      if: branch = master
      python: 3.8
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.5.1+cpu torchvision==0.6.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
    - name: "Python 3.8-dev on Linux (PyTorch 1.5.1)"
      if: branch = master
      python: 3.8-dev
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.5.1+cpu torchvision==0.6.1+cpu -f https://download.pytorch.org/whl/cpu/torch_stable.html
    - name: "macOS (PyTorch 1.4)"
      if: branch = master
      os: osx
      osx_image: xcode11
      language: shell       # 'language: python' is an error on Travis CI macOS
      before_install:
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.4.0 torchvision==0.5.0 -f https://download.pytorch.org/whl/torch_stable.html
    - name: "Windows (PyTorch 1.4)"
      if: branch = master
      os: windows
      language: shell       # 'language: python' is an error on Travis CI Windows
      before_install:
        - choco install python --version 3.7.4
        - python --version
        - python -m pip install --upgrade pip
        - pip3 install --upgrade pip setuptools
        - pip3 install torch==1.4.0+cpu torchvision==0.5.0+cpu -f https://download.pytorch.org/whl/torch_stable.html
      env: PATH=/c/Python37:/c/Python37/Scripts:$PATH
install:
 - "pip3 install --editable .[test]"
script:
 - pylint openpifpaf --disable=fixme
 - pylint tests/*.py --disable=fixme
 - pytest -vv
 - |
   if [ $PIFPAFTRAINING == "1" ]; then
     pytest --nbval-lax --current-env docs/predict.ipynb;
     cd guide && pytest --nbval-lax --current-env *.ipynb;
   fi
