name: deploy-guide

# Only run this when the master branch changes
on:
  # push:
  #   branches:
  #   - master
  #   - guide
  release:
    types:
      - released

# This job installs dependencies, build the guide, and pushes it to `gh-pages`
jobs:
  deploy-guide:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Cache checkpoints and data
      uses: actions/cache@v2
      with:
        path: |
          ~/.cache
          data-cifar10
        key: ${{ runner.os }}-${{ hashFiles('setup.py') }}

    - uses: FedericoCarboni/setup-ffmpeg@v1
      id: setup-ffmpeg

    - name: Set up Python 3.8
      uses: actions/setup-python@v1
      with:
        python-version: 3.8

    - name: Install PyTorch without CUDA
      run: pip install torch==1.9.0+cpu torchvision==0.10.0+cpu -f https://download.pytorch.org/whl/torch_stable.html

    - name: Install dependencies
      run: |
        pip install .[dev,test]
        sudo apt install jq

    # make sure KernelSpec in all notebooks is python3
    - name: Normalize KernelSpec
      run: |
        for fn in guide/*.ipynb; do
          jq '(.metadata.kernelspec.name,.metadata.kernelspec.display_name)="python3"' ${fn} > ${fn}_
          mv ${fn}_ ${fn}
        done

    # Build the guide
    - name: Build the artwork for guide
      run: cd guide && python artwork.py

    - name: Download data
      run: cd guide && python download_data.py

    - name: Build the guide
      run: cd guide && jupyter-book build -W --keep-going .

    # Push the book's HTML to gh-pages
    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3
      with:
        personal_token: ${{ secrets.PERSONAL_TOKEN }}
        external_repository: openpifpaf/openpifpaf.github.io
        publish_branch: main  # default: gh-pages
        publish_dir: ./guide/_build/html
        keep_files: true
        # force_orphan: true  # https://github.com/peaceiris/actions-gh-pages/issues/455
